#header-outer {
    padding-top: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-inner {
    margin: 10px 20px;
    font-size: 35px;
    font-weight: 800;
}